footer{
    height: auto;
    width: 100%;
    background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0.306),
      rgba(255, 0, 0, 0.068)
    );
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-wrap{
        width:90%;
        height:90%;
    display: flex;
    justify-content: center;
    align-items: center;


        box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.156);
        small{
            padding: 5px;
            color:red;
            text-shadow: 1px 1px 1px black;
            a{
                padding-left: 10px;
            }
        }
    }
}