header {
  width: 100%;
  height: auto;
  .title {
    width: 100%;
    // height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      text-shadow: 2px 2px 2px red;
      text-align: center;
      color: white;
      margin: 0.2em;
      font-size: 1.2rem;
    }
  }
  .language {
    display: flex;
    width: 100%;
    padding: 0 5px 5px 5px;
    justify-content: space-around;
    .choose-lang {
      .flag {
        width: 3.1em;
        height: 2em;
        object-fit: cover;
        border-radius: 6px;
      }
    }
  }
  nav {
    height: auto;
    width: 100%;
    .navigation {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      transition: 0.5s ease-out;
      padding-bottom: 1em;

      .item {
        z-index: 2000;
        border-radius: 5px;
        box-shadow: 2px 2px 4px 2px rgba(255, 0, 0, 0.51);
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        background: linear-gradient(
          rgba(144, 2, 2, 0.605),
          rgba(255, 255, 255, 0.646) 50%
        );
        text-transform: capitalize;
        p {
          padding: 0 20px;
          color: rgb(68, 54, 54);
          text-shadow: 2px 2px 2px rgba(208, 92, 92, 0.762);
          text-decoration: none;
          font-size: 1.2rem;
          font-weight: 900;
        }
        &:hover{
          cursor: pointer;
        }
        &:not(:last-child) {
          margin-bottom: 5px;
        }
        .icon {
          padding: 10px;
          background: linear-gradient(
            rgba(255, 255, 255, 0.646) 50%,
            rgba(144, 2, 2, 0.605)
          );
          font-size: 1.5rem;
          color: rgba(154, 2, 2, 0.913);
          border-radius: 6px;
          margin: 2px 10px 2px 0;
        }
        .fa-facebook {
          color: blue;
        }
      }
    }
  }
  .modal-email {
    width: 100vw;
    max-width: 600px;
    height: 100vh;
    background: rgba(58, 3, 3, 0.616);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2001;
    &.modal-open {
      display: flex;
    }
    .modal-box {
      display: flex;
      width: 90vw;
      height: 90vh;
      margin: auto;
      justify-content: center;
      align-items: center;
      z-index: 100;
      background: linear-gradient(
        45deg,
        rgba(0, 0, 0, 1),
        rgba(255, 0, 0, 0.288)
      );
      border-radius: 20px;
      .modal-body {
        width: 96%;
        height: 96%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(
          135deg,
          rgba(255, 255, 255, 0.349),
          rgba(113, 81, 81, 0.336)
        );
        border-radius: 20px;
        h2 {
          color: whitesmoke;
          text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.699);
          font-size: 2.2rem;
          letter-spacing: 2px;
          height: 10%;
          background: rgba(117, 69, 69, 0.219);
          padding: 0.5em 0.5em;
          display: block;
          border-radius: 1000px;
          text-align: center;
        }
        form {
          background-color: rgba(252, 184, 184, 0.075);
          height: 90%;
          width: 90%;
          .form-group {
            width: 100%;
            height: 20%;
            background-color: rgba(245, 245, 245, 0.108);
            position: relative;
            input,
            textarea {
              width: 90%;
              height: 40%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              border-radius: 8px;
              border: none;
              &:focus {
                background: rgba(255, 255, 255, 0.142);
                color: whitesmoke;
              }
            }
            button {
              width: 50%;
              height: 40%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              border-radius: 1000px;
              &:hover {
                border: 5px solid rgba(255, 0, 0, 0.163);
              }
            }
            span {
              display: inline-block;
              width: 100%;
              text-align: center;
            }
            .icon {
              position: absolute;
              top: 50%;
              right: 10%;
              transform: translate(0, -50%);
              background-color: rgb(255, 255, 255);
              color: rgba(255, 0, 0, 0.395);
              padding: 0.1em;
            }

            .disabled {
              pointer-events: none;
              opacity: 0.7;
            }
          }
        }
        .modal-close {
          position: relative;
          top: -85vh;
          .btn {
            border-radius: 1000px;
            background-color: black;
            color: whitesmoke;
          }
        }
      }
    }
  }
}

// .link-face{
//   width: 20px;
//   height: 20px;
//   background-color: white;
//   .fa-facebook{
//     color: blue;
//     font-size: 2.5rem;
//   }

// }
