.modal-excursions {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow-y: hidden;
  width: 0;
  max-width: 600px;
  height: 0;
  background: rgba(0, 0, 0, 0.9505);
  z-index: 3005;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &.active {
    width: 100vw;
    height: 100vh;
    opacity: 1;
  }
  .excursion-title {
    font-size: 2.2rem;
    letter-spacing: 0.1rem;
    padding: 2rem 0;
  }
  .img-wrap {
    background: linear-gradient(
      rgba(247, 181, 181, 0.224),
      rgba(255, 255, 255, 0.372)
      );
      width: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      padding: 1rem;
      
      .img-gc {
        width: 90%;
        height: 90%;
        object-fit: cover;
        border-radius: 8px;
      }
    }
    .text-wrap {
      padding: 2em ;
      
      .txt,
      h3 {
      text-shadow: 2px 2px 19px rgb(238, 215, 215);
      font-size: 1.2rem;
      font-weight: 700;
      width: 90%;
      letter-spacing: 1px;
    }

    .notice {
      border: 2px solid grey;
      border-radius: 5px;
      padding: 0.5em 1em;
      margin-top: 4em;
      font-size: 1.2rem;
      font-weight: 600;
      color: rgba(255, 0, 0, 0.456);
      text-shadow: 2px 2px 2px white;
    }
  }
}
