header {
  width: 100%;
  height: auto;
}

header .title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .title h1 {
  text-shadow: 2px 2px 2px red;
  text-align: center;
  color: white;
  margin: 0.2em;
  font-size: 1.2rem;
}

header .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 5px 5px 5px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .language .choose-lang .flag {
  width: 3.1em;
  height: 2em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}

header nav {
  height: auto;
  width: 100%;
}

header nav .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  padding-bottom: 1em;
}

header nav .navigation .item {
  z-index: 2000;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 4px 2px rgba(255, 0, 0, 0.51);
          box-shadow: 2px 2px 4px 2px rgba(255, 0, 0, 0.51);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(144, 2, 2, 0.605)), color-stop(50%, rgba(255, 255, 255, 0.646)));
  background: linear-gradient(rgba(144, 2, 2, 0.605), rgba(255, 255, 255, 0.646) 50%);
  text-transform: capitalize;
}

header nav .navigation .item p {
  padding: 0 20px;
  color: #443636;
  text-shadow: 2px 2px 2px rgba(208, 92, 92, 0.762);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 900;
}

header nav .navigation .item:hover {
  cursor: pointer;
}

header nav .navigation .item:not(:last-child) {
  margin-bottom: 5px;
}

header nav .navigation .item .icon {
  padding: 10px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(255, 255, 255, 0.646)), to(rgba(144, 2, 2, 0.605)));
  background: linear-gradient(rgba(255, 255, 255, 0.646) 50%, rgba(144, 2, 2, 0.605));
  font-size: 1.5rem;
  color: rgba(154, 2, 2, 0.913);
  border-radius: 6px;
  margin: 2px 10px 2px 0;
}

header nav .navigation .item .fa-facebook {
  color: blue;
}

header .modal-email {
  width: 100vw;
  max-width: 600px;
  height: 100vh;
  background: rgba(58, 3, 3, 0.616);
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 2em;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2001;
}

header .modal-email.modal-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .modal-email .modal-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  height: 90vh;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  background: linear-gradient(45deg, black, rgba(255, 0, 0, 0.288));
  border-radius: 20px;
}

header .modal-email .modal-box .modal-body {
  width: 96%;
  height: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.349), rgba(113, 81, 81, 0.336));
  border-radius: 20px;
}

header .modal-email .modal-box .modal-body h2 {
  color: whitesmoke;
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.699);
  font-size: 2.2rem;
  letter-spacing: 2px;
  height: 10%;
  background: rgba(117, 69, 69, 0.219);
  padding: 0.5em 0.5em;
  display: block;
  border-radius: 1000px;
  text-align: center;
}

header .modal-email .modal-box .modal-body form {
  background-color: rgba(252, 184, 184, 0.075);
  height: 90%;
  width: 90%;
}

header .modal-email .modal-box .modal-body form .form-group {
  width: 100%;
  height: 20%;
  background-color: rgba(245, 245, 245, 0.108);
  position: relative;
}

header .modal-email .modal-box .modal-body form .form-group input,
header .modal-email .modal-box .modal-body form .form-group textarea {
  width: 90%;
  height: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 8px;
  border: none;
}

header .modal-email .modal-box .modal-body form .form-group input:focus,
header .modal-email .modal-box .modal-body form .form-group textarea:focus {
  background: rgba(255, 255, 255, 0.142);
  color: whitesmoke;
}

header .modal-email .modal-box .modal-body form .form-group button {
  width: 50%;
  height: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 1000px;
}

header .modal-email .modal-box .modal-body form .form-group button:hover {
  border: 5px solid rgba(255, 0, 0, 0.163);
}

header .modal-email .modal-box .modal-body form .form-group span {
  display: inline-block;
  width: 100%;
  text-align: center;
}

header .modal-email .modal-box .modal-body form .form-group .icon {
  position: absolute;
  top: 50%;
  right: 10%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-color: white;
  color: rgba(255, 0, 0, 0.395);
  padding: 0.1em;
}

header .modal-email .modal-box .modal-body form .form-group .disabled {
  pointer-events: none;
  opacity: 0.7;
}

header .modal-email .modal-box .modal-body .modal-close {
  position: relative;
  top: -85vh;
}

header .modal-email .modal-box .modal-body .modal-close .btn {
  border-radius: 1000px;
  background-color: black;
  color: whitesmoke;
}

.modal-airport-transfer {
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: auto;
  background: rgba(49, 49, 49, 0.925);
  color: whitesmoke;
  cursor: pointer;
  height: 50vh;
  max-width: 600px;
  width: 0vw;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.modal-airport-transfer.active {
  width: 100vw;
  height: 100%;
  opacity: 1;
  z-index: 3005;
}

.modal-airport-transfer .modal-wrap {
  width: 100%;
  height: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.5em;
}

.modal-airport-transfer .modal-wrap h1 {
  font-size: 2.2rem;
  text-shadow: 2px 2px 2px red;
  text-align: center;
  padding-top: 1em;
}

.modal-airport-transfer .modal-wrap .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  height: auto;
}

.modal-airport-transfer .modal-wrap .container .img-wrap {
  width: 80vw;
  max-width: 400px;
  height: 20vh;
  border-radius: 5px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal-airport-transfer .modal-wrap .container .img-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal-airport-transfer .modal-wrap .container .txt {
  text-shadow: 2px 1px 1px #f9f4f4;
  font-size: 1.2rem;
  width: 80%;
  padding: 0.2em 0;
  letter-spacing: 2px;
  text-align: center;
}

.modal-airport-transfer .modal-wrap .container .txt span {
  font-size: 1rem;
  font-weight: bold;
  text-shadow: 2px 1px 1px #ff0f0f;
}

.modal-airport-transfer .modal-wrap .return-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5em 0;
  margin-bottom: 1em;
}

.modal-airport-transfer .modal-wrap .return-btn .notice {
  border: 2px solid grey;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(255, 0, 0, 0.456);
  text-shadow: 2px 2px 2px white;
}

.modal-excursions {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow-y: hidden;
  width: 0;
  max-width: 600px;
  height: 0;
  background: rgba(0, 0, 0, 0.9505);
  z-index: 3005;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.modal-excursions.active {
  width: 100vw;
  height: 100vh;
  opacity: 1;
}

.modal-excursions .excursion-title {
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  padding: 2rem 0;
}

.modal-excursions .img-wrap {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(247, 181, 181, 0.224)), to(rgba(255, 255, 255, 0.372)));
  background: linear-gradient(rgba(247, 181, 181, 0.224), rgba(255, 255, 255, 0.372));
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  padding: 1rem;
}

.modal-excursions .img-wrap .img-gc {
  width: 90%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}

.modal-excursions .text-wrap {
  padding: 2em;
}

.modal-excursions .text-wrap .txt,
.modal-excursions .text-wrap h3 {
  text-shadow: 2px 2px 19px #eed7d7;
  font-size: 1.2rem;
  font-weight: 700;
  width: 90%;
  letter-spacing: 1px;
}

.modal-excursions .text-wrap .notice {
  border: 2px solid grey;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin-top: 4em;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(255, 0, 0, 0.456);
  text-shadow: 2px 2px 2px white;
}

.modal-airport-transfer {
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: auto;
  background: rgba(49, 49, 49, 0.925);
  color: whitesmoke;
  cursor: pointer;
  height: 50vh;
  max-width: 600px;
  width: 0vw;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.modal-airport-transfer.active {
  width: 100vw;
  height: 100%;
  opacity: 1;
  z-index: 3005;
}

.modal-airport-transfer .modal-wrap {
  width: 100%;
  height: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.5em;
}

.modal-airport-transfer .modal-wrap h1 {
  font-size: 2.2rem;
  text-shadow: 2px 2px 2px red;
  text-align: center;
  padding-top: 1em;
}

.modal-airport-transfer .modal-wrap .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  height: auto;
}

.modal-airport-transfer .modal-wrap .container .img-wrap {
  width: 80vw;
  max-width: 400px;
  height: 20vh;
  border-radius: 5px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal-airport-transfer .modal-wrap .container .img-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal-airport-transfer .modal-wrap .container .txt {
  text-shadow: 2px 1px 1px #f9f4f4;
  font-size: 1.2rem;
  width: 80%;
  padding: 0.2em 0;
  letter-spacing: 2px;
  text-align: center;
}

.modal-airport-transfer .modal-wrap .container .txt span {
  font-size: 1rem;
  font-weight: bold;
  text-shadow: 2px 1px 1px #ff0f0f;
}

.modal-airport-transfer .modal-wrap .return-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5em 0;
  margin-bottom: 1em;
}

.modal-airport-transfer .modal-wrap .return-btn .notice {
  border: 2px solid grey;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(255, 0, 0, 0.456);
  text-shadow: 2px 2px 2px white;
}

.modal-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100% !important;
  overflow: hidden;
  background: rgba(10, 10, 10, 0.962);
  z-index: 3005;
  -webkit-transform: translateX(100%) rotate(360deg);
          transform: translateX(100%) rotate(360deg);
  opacity: 0;
  -webkit-transition: all 0.9s ease-in-out;
  transition: all 0.9s ease-in-out;
}

.modal-information.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  z-index: 6006;
  pointer-events: all;
}

.modal-information .content-wrap {
  padding-top: 10em;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100vw;
  max-width: 600px;
  height: 100vh;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 0, 2em;
}

.modal-information .content-wrap .section {
  z-index: 6006;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  text-shadow: 1px 1px 1px rgba(253, 2, 2, 0.5);
  border: 2px solid red;
  width: 90%;
  border-radius: 8px;
  margin: 5px;
  pointer-events: all;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.modal-information .content-wrap .section h3,
.modal-information .content-wrap .section h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: rem;
  letter-spacing: 3px;
  padding: 0;
}

.modal-information .content-wrap .section p {
  padding: 0;
  font-size: 1rem;
}

footer {
  height: auto;
  width: 100%;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.306), rgba(255, 0, 0, 0.068));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-wrap {
  width: 90%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.156);
          box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.156);
}

footer .footer-wrap small {
  padding: 5px;
  color: red;
  text-shadow: 1px 1px 1px black;
}

footer .footer-wrap small a {
  padding-left: 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 600px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0.224)), to(rgba(255, 255, 255, 0.226))), url(../Photo/mecedes.jpg) center;
  background: linear-gradient(rgba(255, 0, 0, 0.224), rgba(255, 255, 255, 0.226)), url(../Photo/mecedes.jpg) center;
  min-height: 60vh;
  background-size: cover;
}

main .excursions, main .airport-transfer {
  cursor: pointer;
}

main .section {
  height: auto;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.306), rgba(255, 0, 0, 0.068));
  width: 95%;
  background: rgba(255, 255, 255, 0.319);
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.156);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.156);
  color: #ff0404;
  text-shadow: 1px -2px 1px rgba(44, 1, 1, 0.808), 1px -2px 1px rgba(73, 1, 1, 0.692);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.2em;
  padding: 0.5em;
  margin-top: 0.2em;
}

main .section .container {
  background: rgba(255, 255, 255, 0.428);
  padding: 0.5em;
  width: 80%;
  margin: 1em;
  border-radius: 20px;
  border: 3px solid red;
}

main .section .container h3 {
  font-weight: bold;
  color: #ff0505;
  text-shadow: 2px -1px 2px black;
  border-radius: 3px;
  padding: 0 0.2em;
}

main .section .container p {
  color: red;
  text-shadow: 1px 1px 1px black;
  padding: 1px 3px;
  border-radius: 3px;
}

main .section .container p span {
  background-color: black;
  border-radius: 3px;
  color: white;
  font-size: 0.8rem;
  padding: 1px 3px;
  font-weight: 700;
}

main .section .container .burger-wrap {
  pointer-events: all;
  cursor: pointer;
  position: relative;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
}

main .section .container .burger-wrap:hover .burger {
  background-color: black;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

main .section .container .burger-wrap:hover .burger::before, main .section .container .burger-wrap:hover .burger::after {
  background-color: black;
}

main .section .container .burger-wrap .burger {
  height: 5px;
  width: 30px;
  background-color: #fd0202;
  position: absolute;
  top: 12px;
  right: 0px;
  border-radius: 5px;
}

main .section .container .burger-wrap .burger::before {
  content: "";
  height: 5px;
  width: 30px;
  background-color: red;
  position: absolute;
  top: -10px;
  right: 0px;
  border-radius: 5px;
}

main .section .container .burger-wrap .burger::after {
  content: "";
  height: 5px;
  width: 30px;
  background-color: red;
  position: absolute;
  top: 10px;
  right: 0px;
  border-radius: 5px;
}

button {
  padding: 5px 20px;
  border-radius: 8px;
  border: none;
  font-size: 2rem;
  font-weight: 900;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

button:hover {
  background-color: rgba(255, 4, 4, 0.168);
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0.7;
}
/*# sourceMappingURL=main.css.map */